@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Epilogue:wght@500;700&family=Manrope:wght@800&family=Overpass:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 60px;
}
.component{
  min-width: 400px;
  margin-top: 100px;
}
.header{
  background-color: hsl(10, 79%, 65%);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.1rem;
}
.header p{
  color: hsl(27, 66%, 92%);
  font-weight: 400;
}
.header span{
  color:hsl(33, 100%, 98%);
  font-weight: 700;
  font-size: 1.7rem;
}
.body{
  padding: 25px;
  border-radius: 1.1rem;
  background-color: hsl(33, 100%, 98%);
  margin-top: 15px;
}
.body h3{
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(25, 47%, 15%);
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.2;
}
.bottom-right{
  text-align: right;
}
.bottom p{
  color:hsl(28, 10%, 53%);
  font-weight: 400;
  opacity: 0.7;
}
.bottom span{
  color:hsl(25, 47%, 15%);
  font-weight: 700;
}
.bottom-left span{
  font-size: 2rem;
}
hr{
  margin: 30px 0;
  opacity: 0.5;
}
.bar-chart{
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 500px){
  .component{
    min-width: 350px;
    width: 95%;
  }
}